#root {
  max-width: 1280px;
  width: calc(100% - 4rem);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  width: 70px;
  opacity: 0.5;
}

hr {
  width: 100%;
  border: 1px solid #ccc;
}

#converter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.gap-1 { gap: 0.5rem; }
.gap-2 { gap: 1rem; }
.gap-3 { gap: 1.5rem; }
.gap-4 { gap: 2rem; }
.gap-5 { gap: 2.5rem; }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  header img {
    width: 50px;
  }
}